<form action="/user/login" method="post">
    <input name="email" placeholder="email" type="email"/>
    <input name="password" placeholder="password" type="password"/>
    <input value="submit" type="submit"/>
</form>