{{factory 'module' 'catalog:breadcrumbs'}}

<section class="support">
    <div class="container">
        <div class="row">
            <div class="col-lg-1 col-md-1"></div>
            <div class="col-lg-10 col-md-10">
                <br/><br/><br/>
                <h1 class="title">Спасибо за покупку!</h1>
                <div class="row space-top">
                    <div class="clo-lg-12 col-md-12 col-sm-12 space-bottom">
                        <h4 class="light-weight uppercase">
                            Наш менеджер свяжется с вами в течении нескольких минут чтобы подтвердить заказ указанным способом.
                        </h4>
                        <p></p>
                        <p></p>
                        <p></p>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-1 col-md-1"></div>
        </div>
    </div>
</section>