<div class="jumbotron">
    <h1>Vakoo Engine <small>Панель администрирования</small></h1>
    <p>Здесь можно редактировать и настраивать все-все на сайте.</p>
    <p><a class="btn btn-primary btn-lg" role="button" href="/admin/?task=shop.products/index"><span class="glyphicon glyphicon-th"></span> Товары</a></p>
    <p><a class="btn btn-primary btn-lg" role="button" href="/admin/?task=shop.categories/index"><span class="glyphicon glyphicon-list-alt"></span> Категории</a></p>
    <p><a class="btn btn-primary btn-lg" role="button" href="/admin/?task=content.index"><span class="glyphicon glyphicon-align-left"></span> Статьи</a></p>
    <p><a class="btn btn-primary btn-lg" role="button" href="/admin/?task=shop.cities/index"><span class="glyphicon glyphicon-globe"></span> Города</a></p>
</div>