{{msg}}
<div id="x"></div>
<script>
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(pos){
            var lat = pos.coords.latitude;
            var lng = pos.coords.longitude;

            $.post('/?option=shop&task=cities.coords',{lat:lat,lng:lng},function(data){
                $("#x").html(data);
            });

        }, function(err){
            console.log(err);
        });
    } else {
        $("#x").html('Твой бразуер не поддерживает геолокацию =/');
    }
</script>