<div class="row">
    <div class="pull-left back-link btn-group">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Назад</a><span>|</span>
        <ul class="dropdown-menu" role="menu">
            {{#keyin backs}}
                <li><a href="{{url}}">{{title}}</a></li>
            {{/keyin}}
        </ul>
    </div>
    <div class="pull-left">
        <ol class="breadcrumb">
            {{#each crumbs}}
                <li data-content="<a href=Vivamus> sagittis lacus </a><br>vel augue laoreet <br>rutrum faucibus."><a href="{{url}}">{{title}}</a></li>
            {{/each}}
        </ol>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $('.breadcrumb li').last().html($('.breadcrumb li').last().find('a').html()).addClass('active');
        $('.back-link li').first().remove();
    });
</script>