<ul class="pagination">

    <li class="prev-page {{#unless prev.enable}}disabled{{/unless}}">
        <a class="icon-arrow-left" href="{{prev.url}}"></a>
    </li>

    {{#each pagesArr}}
        <li class="{{#if active}}active{{/if}}">
            <a href="{{url}}">{{page}}</a>
        </li>
    {{/each}}

    <li class="next-page {{#unless next.enable}}disabled{{/unless}}">
        <a class="icon-arrow-right" href="{{next.url}}"></a>
    </li>
</ul>

