<!--Search Form-->
<form class="search-form closed" method="get" role="form" autocomplete="off" action="/search">
    <div class="container">
        <div class="close-search"><i class="icon-delete"></i></div>
        <div class="form-group">
            <label class="sr-only" for="search-hd">Найти товар</label>
            <input type="text" class="form-control" name="term" id="search-hd" placeholder="Найти товар">
            <button type="submit"><i class="icon-magnifier"></i></button>
        </div>
    </div>
</form>